<mat-toolbar class="header-toolbar">
  <div class="logo-container">
    <span class="logo-main" routerLink="/home" style="cursor: pointer;">AZETA</span>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">
    <span class="material-icons">menu</span>
  </button>

  <!-- Overlay -->
  <div class="menu-overlay" [class.open]="menuOpen" (click)="closeMenu()"></div>

  <nav class="nav-links" [class.open]="menuOpen">
    <a mat-button routerLink="/home" (click)="closeMenu()">Home</a>
    <a mat-button routerLink="/about" (click)="closeMenu()">About</a>
    <a mat-button routerLink="/products" (click)="closeMenu()">Products</a>
    <a mat-button routerLink="/contact" (click)="closeMenu()">Contact</a>
    <!-- <button mat-button class="explore-btn" (click)="closeMenu()">Explore Chocolates</button> -->
  </nav>
</mat-toolbar>

